<div class="event repo-activity">
  <h4 class="meta">
    <%= link_to_user(pull.username) %>
    sent pull request <%= link_to("##{pull.number}", pull.url) %>
    <%= time_ago_or_exact_date(pull.occurred_at) %>
  </h4>
  <h3 class="title"><%= pull.title %></h3>
  <p><%= pull.body.html_safe %></p>
</div>